<div class="well">
<h3>
  Frédéric Escarieu alias Kie
  <a href="https://plus.google.com/+EscarieuFrederic" target="_blank"><img src="/img/icons/google+.png" class="pull-right" /></a>
  <a href="http://www.twitter.com/kiecoorp" target="_blank"><img src="/img/icons/twitter.png" class="pull-right" /></a>
</h3>

<p>Web Developper - Co-founder KipSoft</p>
<p>
<span class="label label-default">#webdev</span> 
<span class="label label-default">#sysadmin</span>
<span class="label label-default">#javascript</span>
<span class="label label-default">#php</span>
<span class="label label-default">#ruby</span>
  </p>
<p>Passionné de rugby, amateur de velo. </p>

<p class="lead"><a href="http://www.facturenet.fr" target="_blank">facturenet.fr</a></p>

<ul class="list-unstyled">
  <li><a href="mailto:fred@kipsoft.fr">fred@kipsoft.fr</a> <span class="glyphicon pull-right">@</span> </li>
  <li><a href="tel:0677138373">0677138373</a> <span class="glyphicon glyphicon-earphone pull-right"></span> </li>
  <li>Orgues, 46130 Cahus · France<span class="glyphicon glyphicon-globe pull-right"></span> </li>
</ul>
</div>
