<hr />

<div itemscope itemtype="http://schema.org/Person">
<h3>
  <span itemprop="name">Frédéric Escarieu</span> alias Kie
  <a href="http://www.github.com/kiecoorp" itemprop="url" target="_blank"><img src="/img/icons/github.png" width="48px" class="pull-right" /></a>
  <a href="https://plus.google.com/+EscarieuFrederic" itemprop="url" target="_blank"><img src="/img/icons/google+.png" width="48px" class="pull-right" /></a>
  <a href="http://www.twitter.com/kiecoorp"  itemprop="url" target="_blank"><img src="/img/icons/twitter.png" class="pull-right" /></a>
</h3>

<p><span itemprop="jobTitle">Web Developper - Co-founder KipSoft</span></p>
<p>
<span class="label label-default">#webdev</span>
<span class="label label-default">#sysadmin</span>
<span class="label label-default">#javascript</span>
<span class="label label-default">#php</span>
<span class="label label-default">#ruby</span>
  </p>
<p>Passionné de rugby, amateur de velo. </p>

<p class="lead">
<a href="http://www.kipsoft.fr" itemprop="url" target="_blank" title="KipSoft : Applications et Sites Web">kipsoft.fr</a>
/
<a href="http://www.facturenet.fr" itemprop="url" target="_blank" title="FactureNet : Votre logiciel de gestion : devis et factures">facturenet.fr</a>

<a href="https://twitter.com/kiecoorp" class="twitter-follow-button pull-right" data-show-count="false" data-lang="fr" data-size="large">Suivre @kiecoorp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<ul class="list-unstyled">
  <li><a href="mailto:fred@kipsoft.fr" itemprop="email">fred@kipsoft.fr</a> <span class="glyphicon pull-right">@</span> </li>
  <li><a href="tel:0677138373" itemprop="telephone" >0677138373</a> <span class="glyphicon glyphicon-earphone pull-right"></span> </li>
  <li>
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Orgues,</span>
    <span itemprop="addressLocality">Cahus</span>,
    <span itemprop="postalCode">46130</span>
    <span itemprop="addressCountry">France</span>
  </span>

    <span class="glyphicon glyphicon-globe pull-right"></span> 
  </li>
</ul>

<br />
<br />
</div>

</div>
